# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
{{ replace_with 0 "generated_header" }}

apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: topics.internal.events.cloud.google.com
  labels:
    events.cloud.google.com/release: devel
    events.cloud.google.com/crd-install: "true"
    duck.knative.dev/addressable: "true"
spec:
  group: internal.events.cloud.google.com
  names:
    kind: Topic
    plural: topics
    singular: topic
    categories:
    - all
    - knative
    - pubsub
  scope: Namespaced
  subresources:
    status: {}
  preserveUnknownFields: false
  {{- replace_with 2 "conversion_webhook" }}
  additionalPrinterColumns:
    {{- replace_with 4 "ready_reason_address_age" }}
  versions:
    - name: v1alpha1
      served: true
      storage: false
    - name: v1beta1
      served: true
      storage: true
  # All versions happen to have the same schema today. They will likely diverge in the future.
  validation:
    openAPIV3Schema:
      type: object
      properties:
        spec:
          type: object
          required:
            - topic
          properties:
            {{- replace_with 12 "identity_spec_v1alpha1" }}
            {{- replace_with 12 "secret_key_selector" }}
            {{- replace_with 12 "project" }}
            {{- replace_with 12 "topic" }}
            propagationPolicy:
              type: string
              enum:
                - CreateDelete
                - CreateNoDelete
                - NoCreateNoDelete
              description: >
                Propagation policy defines how Topic controls the Cloud Pub/Sub topic for lifecycle
                changes. Default is CreateNoDelete.
            publisher:
              type: boolean
              description: >
                Flag that controls the creation of an HTTP publisher endpoint. If set to true, then
                a publisher will be created and this Topic will be Addressable (have
                status.address). If set to false, then no publisher will be created and this custom
                object represents the creation and deletion of a GCP Pub/Sub Topic only.
        status:
          type: object
          properties:
            {{- replace_with 12 "identity_status" }}
            {{- replace_with 12 "address_status" }}
            projectId:
              type: string
              description: >
                The resolved GCP project ID in use by the Topic.
            topicId:
              type: string
              description: >
                The ID of the Topic created in GCP Pub/Sub.
