# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
  "k8s.io/apimachinery/pkg/util/sets/types",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "knative.dev/pkg/codegen/cmd/injection-gen",
  "knative.dev/test-infra/scripts",
  "knative.dev/test-infra/tools/dep-collector",
  "golang.org/x/net/http2/h2c",
  "go.opencensus.io/metric/metricexport"
]

[[override]]
  name = "gopkg.in/yaml.v2"
  version = "v2.2.1"

[[override]]
  name = "knative.dev/pkg"
  branch = "master"

# This is a preemptive override.
[[override]]
  name = "knative.dev/eventing"
  branch = "master"

# This is a preemptive override.
[[override]]
  name = "knative.dev/serving"
  branch = "master"

[[override]]
  name = "go.uber.org/zap"
  revision = "67bc79d13d155c02fd008f721863ff8cc5f30659"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.15.3"

# manifestival is a testing only dep.
[[constraint]]
  name = "github.com/jcrossley3/manifestival"
  # HEAD as of 2019-08-01
  revision = "dbd2aec45641ad6a8f9834242f6ae5616cdb7bb1"
  source = "github.com/n3wscott/manifestival"

[[override]]
  name = "github.com/cloudevents/sdk-go"
  branch = "master"

[prune]
  go-tests = true
  unused-packages = true
  non-go = true

[[prune.project]]
  name = "k8s.io/code-generator"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "knative.dev/test-infra"
  non-go = false

[[prune.project]]
  name = "knative.dev/pkg"
  unused-packages = false
  non-go = false

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

# Required for opencensus.
# We're pinning this into a version (in the head of pkg) as there
# seems to be some wonky issues by only specifying the version.
[[override]]
  name = "contrib.go.opencensus.io/exporter/stackdriver"
  revision = "68e3d742b03c099c35428443886e65d9587c8d76"
#  version = "v0.12.2"

# Required for opencensus.
[[override]]
  name = "github.com/census-instrumentation/opencensus-proto"
  version = "0.2.0"

[[override]]
  name = "cloud.google.com/go"
  version = "0.44.3"
